html {
    margin: 0;
    @media print {
       height: 100%;
    }   
}

body {
    background-color: #C3EBF9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.icons {
    display: inline-block;
    padding-right: 4px;
}
.thumb {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid black;

}