h1,
h2,
h3,
h4,
p,
nav
{
    margin: 0;
    padding: 0;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}