<div class="container">

    <h1 class="hero-main-title">MICHAEL TRUBITSYN</h1>  
    <h2 class="hero-title">JUNIOR FRONTEND DEVELOPER (HTML5, CSS3/SASS, JAVASCRIPT, REACT,
    REACT NATIVE)</h2>
    <section class="hero">
       <aside class="aside">
          <div class="thumb">
            <svg width ="25" height="20" class="icons">
                <use href="./images/icons/symbol-defs.svg#icon-office" ></use>
              </svg>
            <h2 class="aside-title">
                CONTACTS</h2>
          </div>
        <ul class="aside-list">
            <li class="aside-item">
                <svg width ="14" height="18" class="icons">
                    <use href="./images/icons/symbol-defs.svg#icon-location" ></use>
                  </svg>
                <p>Dnipro, Ukraine</p></li>
            <li class="aside-item">
                <svg width ="14" height="18" class="icons">
                    <use href="./images/icons/symbol-defs.svg#icon-phone" ></use>
                  </svg>
                <p>+380-96-124-47-48</p>
            </li>
            <li class="aside-item">
                <svg width ="14" height="18" class="icons">
                    <use href="./images/icons/symbol-defs.svg#icon-envelop" ></use>
                  </svg>
                <p>mitru0217@gmail.com</p>
            </li>
            <li class="aside-item">
                <svg width ="14" height="18" class="icons">
                    <use href="./images/icons/symbol-defs.svg#icon-linkedin1" ></use>
                  </svg>
             <a href= "https://www.linkedin.com/in/michael-trubitsyn/">
                linkedin.com/michael-trubitsyn
             </a>   
            </li>
            <li class="aside-item">
                <svg width ="14" height="18" class="icons">
                    <use href="./images/icons/symbol-defs.svg#icon-github" ></use>
                  </svg>
                <a href="https://github.com/mitru0217">
                github.com/mitru0217   
                </a>
            </li>
        </ul>
        <div class="thumb">
            <svg width ="25" height="20" class="icons">
                <use href="./images/icons/symbol-defs.svg#icon-library" ></use>
              </svg>
            <h2 class="aside-title">EDUCATION</h2>
        </div>
        
        <ul class="aside-list">
            <li class="aside-item item-bold">Dnipro National University 1988-1993</li>
            <li class="aside-item">Dnipro/Ukraine</li>
            <li class="aside-item">Engineer-radiophysicist</li>
        </ul>
        <ul class="aside-list">
            <li class="aside-item item-bold">IT SCHOOL GO IT 2022-2023</li>
            <li class="aside-item">Full Stack Developer</li>
            <li class="aside-item">Kyiv/Ukraine</li>
          </ul>
          <div class="thumb">
            <svg width ="25" height="20" class="icons">
                <use href="./images/icons/symbol-defs.svg#icon-lanyrd" ></use>
              </svg>
            <h2 class="aside-title">LANGUAGES</h2>
        </div>
          <ul class="aside-list">
            <li class="aside-item"><strong>Ukrainian:</strong><p class="lang-exp-u">Native</p></li>
            <li class="aside-item"><strong>Russian:</strong><p class="lang-exp">Native</p></li>
            <li class="aside-item"><strong>English:</strong><p class="lang-exp">Intermediate</p></li>
          </ul>
          <div class="thumb">
            <svg width ="25" height="20" class="icons">
                <use href="./images/icons/symbol-defs.svg#icon-hammer" ></use>
              </svg>
            <h2 class="aside-title">EXPERIENCE</h2>
          </div>
          <ul class="hero-list">
              <li class="aside-item">2008-2018</li>
              <li class="aside-item item-bold">The Head of Representive office</li>
              <li class="aside-item item-bold">"ТG Albatros LTD" Dnipro/Ukraine </li>
              <li class="aside-item">Production of roofing and facade materials. Building</li>
          </ul>
          <ul class="aside-list">
              <li class="aside-item">2018-2022</li>
              <li class="aside-item aside-bold">Company Director</li>
              <li class="aside-item aside-bold">"Fortika LTD" Odessa/Ukraine</li>
              <li class="aside-item">Sales and construction of frame steel buildings</li>
          </ul>
       </aside>
       <section class="hero-info">
        <div class="thumb">
            <svg width ="25" height="20" class="icons">
                <use href="./images/icons/symbol-defs.svg#icon-user" ></use>
              </svg>
            <h2 class="aside-title">ABOUT ME</h2>
          </div>
        <p class="hero-about">
          I am a responsible and detail-oriented Frontend Developer looking for an entry-level position in a company to use my skills in coding,
           troubleshooting and helping to complete projects on time. Ready to learn and explore new technologies. I have experience of working in a large team and on large projects (though not yet in the field of software development).
        </p>
        <div class="thumb title">
            <svg width ="25" height="20" class="icons">
                <use href="./images/icons/symbol-defs.svg#icon-hammer" ></use>
              </svg>
            <h2 class="aside-title">TECHNICAL SKILLS</h2>
          </div>
        <p class="hero-about">HTML5, CSS3/SASS,  JAVASCRIPT,  REACT, REACT NATIVE, REDUX/REDUX TOOLKIT, AJAX, REST API, AXIOS, PARCEL, WEBPACK </p>
        <div class="thumb title">
            <svg width ="25" height="20" class="icons">
                <use href="./images/icons/symbol-defs.svg#icon-accessibility" ></use>
              </svg>
            <h2 class="aside-title">SOFT SKILLS</h2>
          </div>
        <p class="hero-about">Responsible, Motivated, Time management skills, Ability to work efficiently both
            individually and in a team, Risk taking, Sales Ability, Business communication skills, Willingness to learn, Hardworking, Calm, Flexible, Positive attitude, Courteous, Autonomous </p>
            <div class="thumb title">
                <svg width ="25" height="20" class="icons">
                    <use href="./images/icons/symbol-defs.svg#icon-keyboard" ></use>
                  </svg>
                <h2 class="aside-title">PROJECTS</h2>
              </div>
        <ul>
            <li class="hero-about project">
                <img src="./images/projects/web-studio.png" class="project-img" alt="web-studio">
                <div class="project-info">
                    <a href="https://mitru0217.github.io/goit-markup-hw-08/" class="project-link">WEB STUDIO</a>
                    <p class="project-name">WEB STUDIO. Web studio website.</p>
                    <p class="project-tech"> Were used: HTML5, SASS, PARCEL,Responsive/Adaptive design.</p>
                </div>
               
            </li>
            <li class="hero-about project">
                <img src="./images/projects/donut.png" class="project-img" alt="web-studio">
                    <div class="project-info">
                     <a href="https://mitru0217.github.io/black-and-white/">Donut Masterclass with the Donut King </a> 
                    <p class="project-name">Landing Page.</p>
                    <p class="project-tech">Were used: HTML5, SASS, PARCEL,Responsive/Adaptive design.</p>
                    </div>
            </li>
            <li class="hero-about project">
                <img src="./images/projects/filmoteka.png" class="project-img" alt="web-studio">
               <div class="project-info">
                <a href="https://mitru0217.github.io/filmoteka/">FILMOTEKA</a>  
                <p class="project-name">Movie search resource.</p>
                <p class="project-tech">Were used: HTML5, SASS, WEBPACK, HANDLEBARS, REST API, AXIOS, PARSEL,Responsive/Adaptive design.</p>
                </p>  
               </div> 
            </li>
        </ul>
       </section>
    </section>
</div>