<div class="container">

    <h1 class="hero-main-title">MICHAEL TRUBITSYN</h1>  
    <h2 class="hero-title">JUNIOR FRONTEND DEVELOPER</h2>
    <section class="hero">
       <aside class="aside">
        <section class="section">
          <h2 class="aside-title">CONTACTS</h2>  
          <ul class="aside-list">
            <li class="aside-item">
              <svg width ="14" height="18" class="icons">
                  <use href="./images/icons/symbol-defs.svg#icon-linkedin1" ></use>
                </svg>
           <a href= "https://www.linkedin.com/in/michael-trubitsyn/">
              linkedin.com
           </a>   
          </li>
          <li class="aside-item">
            <svg width ="14" height="18" class="icons">
                <use href="./images/icons/symbol-defs.svg#icon-github" ></use>
              </svg>
            <a href="https://github.com/mitru0217">
            github.com   
            </a>
        </li>
        <li class="aside-item">
          <svg width ="14" height="18" class="icons">
              <use href="./images/icons/symbol-defs.svg#icon-envelop" ></use>
            </svg>
          <p>mitru0217@gmail.com</p>
        </li>
        <li class="aside-item">
          <svg width ="14" height="18" class="icons">
              <use href="./images/icons/symbol-defs.svg#icon-phone" ></use>
            </svg>
          <p>+380-96-124-47-48</p>
      </li>
              <li class="aside-item">
                  <svg width ="14" height="18" class="icons">
                      <use href="./images/icons/symbol-defs.svg#icon-location" ></use>
                    </svg>
                  <p>Dnipro, Ukraine</p></li>
          </ul>
        </section>
   <section class="section">
    <h2 class="aside-title">TECHNICAL SKILLS</h2>
          <ul class="list">
          <li class="item">Html5</li>
          <li class="item">Css3/Sass</li>
          <li class="item">Javascript</li>
          <li class="item">React</li>
          <li class="item">React Native</li>
          <li class="item">Redux</li>
          <li class="item">Redux Toolkit</li>
          <li class="item">Rest Api</li>
          <li class="item">Axios</li>
          <li class="item">Parcel</li>
          <li class="item">Webpack</li>
        </ul>
   </section>
  <section class="section"">
    <h2 class="aside-title">SOFT SKILLS</h2>
    <ul ul class="list">
      <li class="item">Responsible</li>
      <li class="item">Motivated</li>
      <li class="item">Hardworking</li>
      <li class="item">Willingness to learn</li>
      <li class="item">Cooperative</li>
    </ul>
  </section>
  <section class="section">
    <h2 class="aside-title">LANGUAGES</h2>
          <ul class="list">
            <li class="item"><div class="lang"><p><strong>Ukrainian:</strong></p><p >Native</p></div></li>
            <li class="item"><div class="lang"><p><strong>Russian:</strong></p><p >Native</p></div></li>
            <li class="item"><div class="lang"><p><strong>English:</strong></p><p >Intermediate</p></div></li>
          </ul>
  </section>

       </aside>
       <section class="hero-info">
        <section class="section">
          <h2 class="aside-title">ABOUT ME</h2> 
          <p class="hero-about">
            I am a responsible and detail-oriented Frontend Developer looking for an entry-level position in a company to use my skills in coding,
             troubleshooting and helping to complete projects on time. Ready to learn and explore new technologies. I have experience of working in a large team and on large projects (though not yet in the field of software development).
          </p>
        </section>
     <section class="section">
      <h2 class="aside-title ">PROJECTS</h2>
      <ul>
            <li class="project-item">
              <div class="project-info">
                <div class="box-link">
                  <a href="https://mitru0217.github.io/black-and-white/">Donut Masterclass with the Donut King </a> 
                  <a href="https://github.com/mitru0217/black-and-white">GITHUB</a>
                </div>
              
              <p class="project-name">Landing Page.</p>
              <p class="project-tech">Technologies Tools: HTML5, SASS, PARCEL,Responsive/Adaptive design.</p>
              </div>
            </li>
          <li class="project-item">
             <div class="project-info">
              <div class="box-link">
                <a href="https://mitru0217.github.io/filmoteka/">FILMOTEKA</a>
                <a href="https://github.com/mitru0217/filmoteka" class="project-link">GITHUB</a>  
              </div>
              <p class="project-name">Movie search resource.</p>
              <p class="project-tech">Technologies Tools: HTML5, SASS, WEBPACK, HANDLEBARS, REST API, AXIOS, PARSEL,Responsive/Adaptive design.</p>
              </p>  
             </div> 
          </li>
          <li class="project-item">
            <div class="project-info">
              <div class="box-link" >
                <a href="https://mitru0217.github.io/goit-react-hw-08-phonebook/">PHONE BOOK</a>
                <a href="https://github.com/mitru0217/filmoteka" class="project-link">GITHUB</a>
              </div>  
             <p class="project-name">
              A phonebook connected to Swagger
              backend API - you can register, log in, add,
              remove or filter contacts, log out.</p>
             <p class="project-tech">Technologies Tools: REACT, REDUX TOOLKIT, REST API, AXIOS, MATERIAL UI</p>
             </p>  
            </div> 
         </li>
      </ul>
     </section>
     <section class="section">
      <h2 class="aside-title"> WORK EXPERIENCE</h2>
      <div class="experience">
        <ul class="aside-list">
          <li class="aside-item">2018-2022</li>
          <li class="aside-item item-bold">Company Director</li>
          <li class="aside-item item-bold">"Fortika LTD" Odessa/Ukraine</li>
          <li class="aside-item">Sales and construction of frame steel buildings</li>
      </ul>
        <ul class="aside-list">
          <li class="aside-item">2008-2018</li>
          <li class="aside-item item-bold">The Head of Representive office</li>
          <li class="aside-item item-bold">"ТG Albatros LTD" Dnipro/Ukraine </li>
          <li class="aside-item">Production of roofing and facade materials. Building</li>
      </ul>
      </div>
     </section>
     <section class="section">
      <h2 class="aside-title">EDUCATION</h2>
      <ul class="aside-list">
          <li class="aside-item item-bold">Dnipro National University 1988-1993</li>
          <li class="aside-item">Engineer-radiophysicist</li>
          <li class="aside-item">Dnipro/Ukraine</li>
      </ul>
      <ul class="aside-list">
          <li class="aside-item item-bold">IT SCHOOL GO IT 2022-2023</li>
          <li class="aside-item">Full Stack Developer</li>
          <li class="aside-item">Kyiv/Ukraine</li>
        </ul>
    </section> 
      
       </section>
    </section>
</div>
