
.hero-main-title {
    display: block;
    text-align: center;
    margin-top: 16px;
}
.hero-title {
    display: block;
    margin-top: 8px;
    text-align: center;
}
.hero {
    display: flex;
    flex-direction: column;
   
    margin-top: 32px;
    @media ( min-width: 768px) {
        display: grid;
        grid-template-columns: 400px  1fr;
        grid-template-rows:  1fr;
        grid-template-areas:"hero-aside hero-info"; 
    }
    @media print {
        display: grid;
        grid-template-columns: 400px  1fr;
        grid-template-rows:  1fr;
        grid-template-areas:"hero-aside hero-info"; 
    } 
    }


.aside {
    grid-area: hero-aside;
    padding: 16px;
    border-right: 1px solid black;
    background-color: bisque;
}
.hero-info{
    grid-area:hero-info ;
    padding-left: 32px; 
}
.aside-info {
    grid-area: hero-info;
    padding: 16px; 
}
.aside-title {
    display:inline-block;
    padding-left: 8px;
    
}
.aside-list {
    padding-bottom: 4px;
}
.aside-item {
    display: flex;
    padding-bottom: 4px;
}
.aside-bold {
    font-weight: 700;
}
.lang-exp {
    padding-left: 16px;
}
.lang-exp-u {
    padding-left: 5px; 
}

.hero-about {
    padding-top: 16px;
    padding-bottom: 16px;
  
}
.title {
    padding-top: 16px;
}
.project-img {
    width: 150px;
    height: 100px;
}
.project {
    display: flex;
    flex-direction: column;
    gap: 16px;
        @media (min-width: 768px) {
            flex-direction: row;
}
@media pint {
    flex-direction: row; 
}
}
.project-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.project-link {
    display: inline-block;
    width: 100%;
}
.project-name {
    display: inline-block;
}
.project-tech{
    display: inline-block;   
}